.cta-list {
  padding-bottom: 4rem;
  padding-top: 4rem;
}

.cta-list .container.row {
  width: 100%;
}

.cta-list .container.multiple {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(25% - 1rem), 1fr)); /* Auto-fit columns with max 4 items per row */
  gap: 1rem; /* Adjust spacing between items */
  justify-items: center; /* Center items horizontally */
}

@media only screen and (min-width: 1130px) { 
  .cta-list .container.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap; 
    max-width: 1200px;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 1129px) { 
  .cta-list .container.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
  }
}

.cta-list .container.row .cta {
  background-color: var(--background-grey);
  border-color: var(--background-grey);
  border-radius: 3.125rem;
}

.cta-list .container.row .cta:hover {
  background-color: var(--hover-bg-grey);
}

.cta-list .container.row .cta {
  padding: .6rem 3rem;
  flex-grow: 1;
}

.cta-list .container.row a {
  width: 100%;
  height: 100%;
  line-height: .9;
  text-align: center;
  text-decoration: none;
  color: var(--color-black);
  font-size: .75rem;
  font-weight: 600;
}

.cta-list .container.columns {
  display: flex;
  gap: 10px;
}

.cta-list .container.columns .cta {
  flex: 1;
  padding: 2rem 1rem;
}

.cta-list .container.columns .cta:nth-of-type(1) {
  background-color: var(--background-dark-blue);
}

.cta-list .container.columns .cta:nth-of-type(2) {
  background-color: var(--background-red);
}

.cta-list .container.columns .cta a {
  color: var(--color-white);
  text-decoration: none;
  font-size: 16px;
  font-weight: 700;
}