.footer-content-wrapper {
    margin-top: 40px;
    background: rgb(248, 247, 247);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content-wrapper > .footer-navigation {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding-top: 40px;
    max-width: 1200px;
    width: 100%;
}

.footer-content-wrapper > .footer-navigation h3 {
    text-transform: uppercase;
    font-size: 0.75rem;
    letter-spacing: -0.02rem;
    margin: 0;
    color: black;
}

.footer-content-wrapper > .footer-navigation > nav {
    grid-column: span 1;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-content-wrapper > .footer-navigation > nav > ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0;
    margin: 0;
}

.footer-content-wrapper > .footer-navigation > nav > ul > li {
    padding: 5px 0;
}

.footer-content-wrapper > .footer-navigation > nav > ul > li > a {
    text-decoration: none;
    font-size: 0.9rem;
    font-weight: 400;
    color: black;
}

.footer-content-wrapper > .footer-navigation > nav > ul > li > a:hover {
    font-weight: 700;
    transition: all 0.2s ease-out;
}

.footer-content-wrapper > .footer-copyright {
    padding: 40px 20px 20px;
    font-size: 0.75rem;
}

.footer-content-wrapper > .footer-copyright > .copyright-links {
    display: flex;
    align-items: center;
}

.footer-content-wrapper > .footer-copyright a {
    margin-right: 8px;
    text-decoration: underline;
    display: block;

}

.footer-content-wrapper > .footer-copyright .link-icon {
    display: flex;
    align-items: center;
}

.footer-content-wrapper > .footer-copyright .link-icon a {
    margin-right: 0;
}

.footer-content-wrapper > .footer-copyright .link-icon img {
    width: 32px;
    margin: 2px 4px 0 0;
    display: block;
}
