.banner {
    width: 100%;
    height: auto;
    min-width: 10px;
    min-height: 10px;
    display: block;
    margin: 0 auto;
}

.banner img {
    width: 100%;
    height: auto;
    min-height: 500px;
    object-fit: cover;
    display: block;
}

.banner .wrapper {
    position: relative;
}

.banner .wrapper .content-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.banner .wrapper .content-column {
    height: 100%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
}

.banner .wrapper .main-content {
    width: auto;
    max-width: 500px;
    text-align: left;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 8rem;
    padding-left: 3rem;
    color: var(--color-white);
}

.banner .main-content h1 {
    font-size: 80px;
    line-height: normal;
    margin-bottom: 0;
}

.banner .main-content p {
    width: 75%;
    margin: 0;
}

.banner .main-content .banner-cta-link {
    color: var(--color-black);
    background-color: var(--color-white);
    border-color: var(--color-white);
    padding: 0.75rem 3rem;
    font-size: 0.75rem;
    line-height: 0.9;
    border-radius: 3.125rem;
    text-align: center;
    text-transform: capitalize;
    text-decoration: none;
    letter-spacing: 0;
    font-weight: 700;
    margin-top: 1rem;
    width: fit-content;
}

.banner .main-content .banner-cta-link:hover {
    background-color: var(--hover-bg-grey);
    border: var(--hover-bg-grey);
}